@import 'tailwindcss';

@theme {
	--color-purple-400: #e0e7fe;
	--color-purple-500: #3e38a7;
	--color-purple-600: #5046e4;
	--color-gray-100: #eeeeef;
	--color-gray-200: #e6e9ed;
	--color-gray-600: #95989c;
}
